<div class="container">
    <h1>Balance General</h1>
    <div>
        <div class="col-lg-4">
            <h2 class="text-center">Activos</h2>
            <h3 class="text-success text-center"><strong>€ @ViewBag.Ingreso</strong></h3>
        </div>
        <div class="col-lg-4">
            <h2 class="text-center">Pasivos</h2>
            <h3 class="text-danger text-center"><strong>€ @ViewBag.Gasto</strong></h3>
        </div>
        <div class="col-lg-4">
            <h2 class="text-center">Patrimonio Neto</h2>
            <h3 class="text-info text-center"><strong>€ 0.00 </strong></h3>
        </div>
    </div>
</div>