
#sidebar{
    position: fixed;
    margin-top: 3%;
}
main{
    margin-top: 3%;
}
@media (max-width: 768px) {
    #renderBody {
        margin-top: 15%;
    }
}
nav{
    background-color: #8cb456;
}
span{
    background-color: white;
}
#titleERP{
    color: white;
}
#navList{
    color: black;
}
img{
    width: 480px;
    height: 250px;
}

@media (max-width: 768px) {
    #sidebar{
        margin-top: 13%;
    }

}

@media (max-width: 820px) {
    #sidebar {
        margin-top: 13%;
    }
}