
<link rel="stylesheet" href="~/css/portalSuministrador.css" />

<div class="container">
    <h1 class="text-center">Portal Suministrador</h1>
    <h4 class="text-justify">Bienvenidos al portal de suministradores, en esta sección podrán acceder como unos de nuestros suministros y vendernos los productos que ofrecen.</h4>
</div>

<div id="cardsDiv" class="col-lg-12">
    <div class="col-lg-4 text-center" id="card">
        <h3>Suministrador 1</h3>
    </div>
    <div class="col-lg-4 text-center" id="card">
        <h3>Suministrador 1</h3>
    </div>
    <!--foreach suministrador-->
</div>